<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="Data Analysis Application"
           Language="1033" 
           Version="1.0.0.0" 
           Manufacturer="Alex Berger" 
           UpgradeCode="12345678-1234-1234-1234-123456789012">
    
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             Description="Data Analysis Application Installer"
             Comments="Professional data analysis tool with visualization capabilities" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <!-- Application Icon -->
    <Icon Id="AppIcon.exe" SourceFile="dist\data_analysis_app\data_analysis_app.exe" />
    <Property Id="ARPPRODUCTICON" Value="AppIcon.exe" />

    <!-- Feature definition -->
    <Feature Id="ProductFeature" Title="Data Analysis Application" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="DesktopShortcut" />
    </Feature>

    <!-- UI Configuration -->
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    
    <!-- License Agreement (optional) -->
    <WixVariable Id="WixUILicenseRtf" Value="installer\license.rtf" />
    
    <!-- Custom banner and dialog images (optional) -->
    <!-- <WixVariable Id="WixUIBannerBmp" Value="installer\banner.bmp" /> -->
    <!-- <WixVariable Id="WixUIDialogBmp" Value="installer\dialog.bmp" /> -->
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Program Files directory -->
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Data Analysis Application">
          <!-- Application files will be placed here -->
        </Directory>
      </Directory>

      <!-- Start Menu -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="Data Analysis Application"/>
      </Directory>

      <!-- Desktop -->
      <Directory Id="DesktopFolder" Name="Desktop"/>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- Main executable -->
      <Component Id="MainExecutable" Guid="*">
        <File Id="DataAnalysisAppExe" 
              Source="dist\data_analysis_app\data_analysis_app.exe" 
              KeyPath="yes" 
              Checksum="yes">
          <Shortcut Id="StartMenuShortcut"
                    Directory="ApplicationProgramsFolder"
                    Name="Data Analysis Application"
                    Description="Professional data analysis and visualization tool"
                    WorkingDirectory="INSTALLFOLDER"
                    Icon="AppIcon.exe"
                    IconIndex="0"
                    Advertise="yes" />
        </File>
      </Component>

      <!-- All other files from PyInstaller dist folder -->
      <!-- This will need to be generated using heat.exe tool -->
      <!-- Run: heat.exe dir dist\data_analysis_app -cg DistFiles -gg -sfrag -srd -dr INSTALLFOLDER -out installer\files.wxs -->
    </ComponentGroup>

    <!-- Start Menu Shortcut Component -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" 
                       Key="Software\[Manufacturer]\[ProductName]" 
                       Name="installed" 
                       Type="integer" 
                       Value="1" 
                       KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Desktop Shortcut Component -->
    <DirectoryRef Id="DesktopFolder">
      <Component Id="DesktopShortcut" Guid="*">
        <Shortcut Id="DesktopShortcut"
                  Name="Data Analysis Application"
                  Description="Professional data analysis and visualization tool"
                  Target="[INSTALLFOLDER]data_analysis_app.exe"
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="AppIcon.exe"
                  IconIndex="0"/>
        <RemoveFolder Id="CleanUpDesktopShortcut" Directory="DesktopFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" 
                       Key="Software\[Manufacturer]\[ProductName]" 
                       Name="desktop_shortcut" 
                       Type="integer" 
                       Value="1" 
                       KeyPath="yes"/>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
